.sidebar {
  background-color: olive;
  width: 250px;
  height: 100%;
  padding-top: 50px;
  padding-left: 30px;
  h2 {
    padding-bottom: 10px;
  }
  ul li {
    list-style-type: none;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    cursor: pointer;
  }
}
